@tailwind base;
@tailwind components;
@tailwind utilities;


.w-md-editor-toolbar {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;

}

/* 입력 영역 스타일 */
.md-editor-textarea {
  width: 100%;
  min-height: 200px;
  padding: 8px;
  border: none;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #333;
}

/* 미리보기 영역 스타일 */
.md-editor-preview {
  padding: 8px;
  border: none;
  background-color: #fff;
  font-size: 14px;
  color: #333;
}

/* 버튼 스타일 */
.md-editor-toolbar button {
  margin: 0 2px;
  padding: 6px 12px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.md-editor-toolbar button:hover {
  background-color: #45a049;
}

.md-editor-toolbar button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
